h1 {

text-align: center;
    font-size: 40px;
    font-family: tahoma;
    font-weight: 100; 
padding-bottom: 250px;
}

body {

text-align: center;
background-color: #a8dadc;

}


.recipes {
    font-size: 40px;
    font-family: Courier;
    text-align:center;

}

#butter:hover {
    font-size: 35px;
    color:#003049;
  
}

#burg:hover {
  
    font-size: 30px;
    color:#003049;

}

#taco:hover{
    font-size: 30px;
    color:#003049;

}